
/* header */
.ms_bg-navbar{
    background-color: #2c3e50;
}

/* jumbo */
#jumbotron,
#about {
    background-color: #1abc9c;
}

.ms_footer-top {
    background-color: #3a546d;
}

.ms_footer-bottom {
    height: 100px;
    background-color: #2c3e50;
}

.box{
    height: 300px;
    object-fit: cover;
}

.box-stra{
    object-fit: cover;
    font-size: 16px;
}

img{
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.logo{
    height: 200px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.logo div{
    height: 200px;
    width: 180px;
    display: flex;
    object-fit: cover;
}

.logo img{
    height: 200px;
    width: 180px;
}

.web-ill{
    padding-bottom: 10px;
} 

a{
   text-decoration: none; 
}






/* debug */

/* .debug .box {
    height: 90px;
    background-color: lightgreen;
    border: 1px solid black;
}

.debug #jumbotron {
    height: 500px;
} */